<script src="$!{url_path}/js/jquery-1.7.2.min.js"></script>
	<!-- jQuery UI -->
	<script src="$!{url_path}/js/jquery-ui-1.8.21.custom.min.js"></script>
	<!-- transition / effect library -->
	<script src="$!{url_path}/js/bootstrap-transition.js"></script>
	<!-- alert enhancer library -->
	<script src="$!{url_path}/js/bootstrap-alert.js"></script>
	<!-- modal / dialog library -->
	<script src="$!{url_path}/js/bootstrap-modal.js"></script>
	<!-- custom dropdown library -->
	<script src="$!{url_path}/js/bootstrap-dropdown.js"></script>
	<!-- scrolspy library -->
	<script src="$!{url_path}/js/bootstrap-scrollspy.js"></script>
	<!-- library for creating tabs -->
	<script src="$!{url_path}/js/bootstrap-tab.js"></script>
	<!-- library for advanced tooltip -->
	<script src="$!{url_path}/js/bootstrap-tooltip.js"></script>
	<!-- popover effect library -->
	<script src="$!{url_path}/js/bootstrap-popover.js"></script>
	<!-- button enhancer library -->
	<script src="$!{url_path}/js/bootstrap-button.js"></script>
	<!-- accordion library (optional, not used in demo) -->
	<script src="$!{url_path}/js/bootstrap-collapse.js"></script>
	<!-- carousel slideshow library (optional, not used in demo) -->
	<script src="$!{url_path}/js/bootstrap-carousel.js"></script>
	<!-- autocomplete library -->
	<script src="$!{url_path}/js/bootstrap-typeahead.js"></script>
	<!-- tour library -->
	<script src="$!{url_path}/js/bootstrap-tour.js"></script>
	<!-- library for cookie management -->
	<script src="$!{url_path}/js/jquery.cookie.js"></script>
	<!-- calander plugin -->
	<script src='$!{url_path}/js/fullcalendar.min.js'></script>
	<!-- data table plugin -->
	<script src='$!{url_path}/js/jquery.dataTables.min.js'></script>

	<!-- chart libraries start -->
	<script src="$!{url_path}/js/excanvas.js"></script>
	<script src="$!{url_path}/js/jquery.flot.min.js"></script>
	<script src="$!{url_path}/js/jquery.flot.pie.min.js"></script>
	<script src="$!{url_path}/js/jquery.flot.stack.js"></script>
	<script src="$!{url_path}/js/jquery.flot.resize.min.js"></script>
	<!-- chart libraries end -->

	<!-- select or dropdown enhancer -->
	<script src="$!{url_path}/js/jquery.chosen.min.js"></script>
	<!-- checkbox, radio, and file input styler -->
	<script src="$!{url_path}/js/jquery.uniform.min.js"></script>
	<!-- plugin for gallery image view -->
	<script src="$!{url_path}/js/jquery.colorbox.min.js"></script>
	<!-- rich text editor library -->
	<script src="$!{url_path}/js/jquery.cleditor.min.js"></script>
	<!-- notification plugin -->
	<script src="$!{url_path}/js/jquery.noty.js"></script>
	<!-- file manager library -->
	<script src="$!{url_path}/js/jquery.elfinder.min.js"></script>
	<!-- star rating plugin -->
	<script src="$!{url_path}/js/jquery.raty.min.js"></script>
	<!-- for iOS style toggle switch -->
	<script src="$!{url_path}/js/jquery.iphone.toggle.js"></script>
	<!-- autogrowing textarea plugin -->
	<script src="$!{url_path}/js/jquery.autogrow-textarea.js"></script>
	<!-- multiple file upload plugin -->
	<script src="$!{url_path}/js/jquery.uploadify-3.1.min.js"></script>
	<!-- history.js for cross-browser state change on ajax -->
	<script src="$!{url_path}/js/jquery.history.js"></script>
	<!-- application script for Charisma demo -->
	<script src="$!{url_path}/js/charisma.js"></script>
	
	</body>
</html>